 <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Birimler</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Birim adı</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @units.each do |unit| %>
                     <tr>
                      <td><%= unit.name %></td>                    
                     <td><%= link_to '<button type="button" class="btn btn-gradient btn-warning">Düzenle</button>'.html_safe, edit_unit_path(unit.id) %></td>                
                      <td><%= link_to '<button type="button" class="btn btn-gradient btn-danger __web-inspector-hide-shortcut__">Sil</button>'.html_safe, unit_path(unit.id), :confirm => 'Ürünü silmek istediginizden emin misiniz ?', :method => :delete %></td>
                    </tr>    
                    <% end %>
                  </tbody>
                </table>
              </div>            
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
             <%= link_to '<button type="button" class="btn btn-left mb-4 bg-gradient-primary">Yeni Birim ekle</button>'.html_safe, new_unit_path %>
          </div>
        </div>
        <!-- /.row -->